<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivangy.lospaco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.CreateAccountActivity"></activity>
        <activity
            android:name=".controller.activity.ServiceDetailsActivity"
            android:allowTaskReparenting="true"
            android:parentActivityName=".controller.activity.MainActivity" />
        <activity android:name=".controller.activity.CreateAccountNameActivity" />
        <activity android:name=".controller.activity.CreateAccountPassActivity" />
        <activity android:name=".controller.activity.ForgotPassActivity" />
        <activity android:name=".controller.activity.LoginActivity" />
        <activity android:name=".controller.activity.SliderActivity" />
        <activity
            android:name=".controller.activity.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>